*{
    box-sizing: border-box;
    margin: 0;
  }
  #navbar{
    background-color: orange;
    position: fixed;
    width: 100%;
  }
  #welcome{
    background-color: red;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  #projects{
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25em;
  }
  #links{
    background-color: yellow;
  }